<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Open+Sans:400italic,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/syntax.css">
      	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
        <link rel="stylesheet" href="/css/default.css">

    </head>

    <body>
      <a href="https://github.com/lantiga/ki"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://github-camo.global.ssl.fastly.net/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
    	<div class="pure-g">
        <div class="pure-u-1-5"></div>
    		<div class="pure-u-3-5">
          <a href="/"><img height="auto" width="100%" style="margin-top: 20px;" src="/images/ki-color.svg" /></a>
          {{ content }}
        </div>
        <div class="pure-u-1-5"></div>
      </div>
    </body>
</html>
